.userinfo {
    &-cover  {
        background-size: cover;
        border-radius: 100%;
        display: block;
        height: auto;
        padding-top: 100%;
        width: 100%;
    }
    &-connection a {
        font-size: .9em;
    }
}
