// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

html { background-color: #f8f9fa; }
body { font-family: $font-family-sans-serif; }
img { max-width: 100%; }

section {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
}

.with-svg {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    svg { margin-right: .3em; }
}

.logo {
    @extend .text-muted;
    font-family: $font-logo;
}

@include media-breakpoint-down(sm) {
    article {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.post-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;

    @include media-breakpoint-up(md) {
        &-lg { height: 380px; }
    }

    @include media-breakpoint-down(sm) {
        height: 200px;
    }
}

.img-circle {
    border-radius: 100%;
    height: 32px;
    object-fit: cover;
    width: 32px;
}
